[user]
  name = gouf
  email = innocent.zero@gmail.com
  signingkey = 0C562BE41357834A
[color]
  ui = auto
[color "status"]
  added = yellow
  chenged = green
  untracked = cyan
[core]
  excludesfile = /Users/gouf/.gitignore_global
  attributefile = ~/.gitattributes_global
  autocrlf = input
  editor = vim
[alias]
  s  = switch
  r  = restore
  am = commit --amend
  st = status
  co = commit -S
  ch = checkout
  br = branch
  df = diff --ignore-space-at-eol --color-words
  dfs = diff --ignore-space-at-eol --color-words --staged
  dc = diff --cached
  lgp = log --show-signature -1
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  logo = log --pretty=oneline
  ls = ls-files
  ap = add -p
  adp = add -p
  sh = show-branch
  sta = stash
  patch = diff --no-prefix --no-color
  today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
  pushall = push --tags --recurse-submodules=on-demand

[filter "lfs"]
  required = true
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
[merge]
  tool = vimdiff
[rebase]
  auttostash = true
[gpg]
  program = gpg
[commit]
  gpgsign = true
